#photos img {
  width: 100%;
  line-height: 1em;
}

#photos {
  line-height: 0;
}

#photos a:hover {
  border: none;
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Media query: large or landscape phones (576px and up) */
@media screen and (min-width: 576px) {
  /* Gallery */
  #photos {
      column-count: 2;
      column-gap: 0;
  }
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
  /* Gallery */
  #photos {
    column-count: 3;
  }
}

/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {

  /* Gallery */
  #photos {
      column-count: 4;
  }
}
