@import '../../node_modules/normalize.css/normalize';
@import 'variables';
@import 'blockquotes';
@import 'code';
@import 'mobile-menu';
@import 'init';
@import '../../shared/fontawesome/scss/fontawesome';
$fa-font-path: '../../shared/fontawesome/webfonts';
@import '../../shared/fontawesome/scss/brands';
@import '../../shared/fontawesome/scss/solid';
@import '../../shared/fontawesome/scss/regular';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');
@import 'technology';
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');

body {
  // background-color: $background-color;
  background: $background-dark-theme;
}

* {
  box-sizing: border-box;
  border: 0 none;
  margin: 0;
  padding: 0;
  // color: $font-color;
}

ol, ul {
  padding-left: 1.5em;
}

.nav ul li {
  letter-spacing: 4px;
}

.hidden {
  display: none !important;
}

html, body {
  height: 100%;
}

/* Placement */

body {
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 0 auto;
  width: 70%;
  margin: auto;
}

.main div {
  width: 70%;
  margin: 0 auto;
}

.main p {
  width: 70%;
  margin: 0 auto;
  // margin-bottom: 1em;
}

.main h1 {
  width: 70%;
  margin: 0 auto;
}

.header, .footer {
  flex: 0 0 auto;
  width: 70%;
  margin: auto;
}

.hrStyle {
  height: 1em;
  border: 0;
  box-shadow: 0 10px 10px -10px #333 inset;
}

/* Header */

.header, .site-header {
  display: flex;
  justify-content: space-between;
}

.nav a, .nav-toggle {
  color: $font-alternative-color;
  font-size: 1.2em;
}

/* Title */

.title, .logo {
  padding: 3em 3em 3em 0;
}

@media (max-width: 767px) {
  .title, .logo {
      padding: 1em 1em 1em 0;
  }
  .title {
      min-width: 50%;
  }
  .logo {
      max-width: 30%;
  }
}

.title * {
  color: $font-color-title;
}

.title p {
  font-style: italic;
  letter-spacing: 4px;
}

/* Footer */

.footer {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid $font-alternative-color;
  margin-top: 2em;
  // background-image: url("https://uploads-ssl.webflow.com/5e2520252e290c852ed89624/5e859553fc819702b5aee379_Footer%20Dots%402x.png") !important;
}

.footer p {
  color: $font-alternative-color;
}

.footer a {
  color: $font-alternative-color;
}

.footer .social {
  font-size: 2rem;
  
}

/* Typografy */

body {
  // font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
  // line-height: 1.4rem;
  font-family: 'Lato', 'Roboto', 'Segoe UI', sans-serif;
  
}

p {
  font-size: 1.25em;
  margin-bottom: 1.75rem;
}

a {
  font-family: 'Oswald', "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  // font-weight: bold;
}

p, td, th, li, dd {
  text-align: justify;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

h1 {
  font-size: 2.8em;
  // margin-bottom: 3.5rem;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0.6em;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  letter-spacing: 4px;
}

img {
  max-width: 100%;
}

.analysisSubLinks {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.analysisSubLinks a {
  color: purple;
  text-decoration: none;
  margin: 0.5em 0;
  font-size: 2em;
}