/* technology.scss */

.technology {
  flex: 1 0 auto;
  width: 70%;
  margin: auto;
}

.landingpage {
  width: 70%;
  margin: auto;
  display: grid;
  gap: 1em 1em;
  // grid-template-columns: repeat(3, 1fr)
}

.technologiesH1 {
  grid-column: span 3;
  justify-self: center;
}

.box {
  border: solid 1px black;
  // background-color: random($limit: 1);
}

.half {
  // display: grid;
  grid-column: span 2;
}

.wide {
  // display: grid;
  grid-column: span 3;
}

.box a {
  color: $font-color;
  text-decoration: none;
  display: grid;
  text-align: center;
}

.singleTech {
  display: grid;
  // grid-template-columns: repeat(2, 1fr);
  grid-template-columns: 20% 80%;
}

.sidebar {
  display: flex;
  flex-direction: column;
//   left: calc(75%);
}

.sidebar a {
  margin: 0.5em 0;
  color: black;
  text-decoration: none;
}