/* technology.scss */

.technology {
  flex: 1 0 auto;
  width: 70%;
  margin: auto;
}

.landingpage {
  width: 70%;
  margin: auto;
  display: grid;
  gap: 1em 1em;
}

.technologiesH1 {
  grid-column: span 3;
  justify-self: center;
}

.box {
  box-shadow: 10px 10px 10px 10px $font-border inset;
}

.half {
  grid-column: span 2;
}

.wide {
  grid-column: span 3;
}

.box a {
  color: $font-color;
  text-decoration: none;
  display: grid;
  text-align: center;
}

.singleTech {
  display: grid;
  grid-template-columns: 20% 80%;
}

.sidebar {
  display: flex;
  flex-direction: column;
}

.sidebar a {
  margin: 0.5em 0;
  color: $font-color;
  text-decoration: none;
}