$font-color: #fafafa;
$font-header: #4caf50;
$font-border: #454b1b;
$font-links: #454b1b;
$font-hover: #454b1b;

$background-dark-theme: #191825;

$background-light-theme: linear-gradient(89.9deg, rgba(178, 253, 238, 0.96) -8.1%, rgb(207, 244, 254) 26.3%, rgba(207, 244, 254, 0.48) 47.5%, rgba(254, 219, 243, 0.63) 61.5%, rgb(254, 219, 243) 78.7%, rgb(254, 207, 210) 109.2%) !important;

$font-alternative-light-color: #000 !important;